body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

main{
    display: grid;
    place-items: center;
    height: 100vh;
}

input, button{
    display: block;
    min-width: 40vw;
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid lightgray;
    outline: none;
    margin: 1rem;
}

p{
    font-size: 1.3rem;
}

.termsandconditions{
    display: block;
    position: relative;
    padding-left: 35px;
    font-size: 1.3rem;
    cursor: pointer;
    user-select: none;
}

.termsandconditions input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cccccc;
}

.termsandconditions:hover input ~ .checkmark{
    background-color: darkgrey;
    transition: ease .3s;
}

.termsandconditions input:checked ~ .checkmark{
    background-color: #2196F3;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.termsandconditions input:checked ~ .checkmark:after{
    display: block;
}

.termsandconditions .checkmark:after{
    left: 9px;
    top: 5px;
    height: 5px;
    border: solid #ffffff;
    border-width: 0 3px 0 3px;
    transform: rotate(45deg);
}